.info-wrapper {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #2978b4;
  color: #e1f2ff;
  transition: all 0.5s ease-out;
  font-size: 18pt;
  font-family: sans-serif;

  &.loading {
    background-color: #e1f2ff;
    color: #2978b4;
  }

  .loading-info {
    margin: auto;
    font-size: 18pt;
    font-family: sans-serif;
  }

  .info {
    display: flex;
    margin: auto;

    .current-data {
      display: block;
      width: 720px;
      margin: auto;
    }

    .stop {
      margin-left: 5%;
      border: 2px solid #2978b4;
      color: #2978b4;
      width: 180px;
      height: 60px;
      outline: none;
      cursor: pointer;
      background: #e1f2ff;
      transition: .5s;
      font-size: 18px;
      border-radius: 5px;
      font-family: "Lato",sans-serif;
      &:hover {
        transition: all 0.3s ease-in-out;
        transform:scale(1.1);
      }
    }
  }
}

.chart-wrapper {
  margin: 10px 45px;
}
